html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #333333;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.layout {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
}

.content {
  flex-grow: 2;
}

.header {
  background-color: #3C1491;
  color: #fff;
}

.header__content {
  display: flex;
  align-items: center;
  height: 68px;
}

.logo {
  display: block;
  background: url('./logo.png') no-repeat;
  width: 45px;
  height: 36px;
  margin-right: auto;
}

.header__link {
  color: #fff;
  line-height: 22px;
  font-size: 18px;
  margin-left: 25px;
  text-decoration: none;
}

.button {
  width: 170px;
  height: 38px;
  background: #3c1491;
  border: 1px solid #3c1491;
  border-radius: 1px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
}

.main__title {
  font-size: 36px;
  line-height: 46px;
}

.background, .background-shadow {
  position: absolute;
  width: 100%;
  left: 0;
  top: 68px;
  height: 895px;

}

.background {
  z-index: 1;
}

.background__img {
  width: 100%;
  height: 895px;
}

.main-content {
  width: 100%;
  height: 795px;
  color: #FFFFFF;
  z-index: 3;
  position: relative;
  margin-top: 100px;
}

.background-shadow {
  opacity: 0.4;
  background-color: #160045;
  z-index: 2;
}

.main-content__title {
  font-size: 48px;
  line-height: 60px;
}

.main-content__text {
  font-size: 18px;
  line-height: 30px;
  margin-top: 19px;
}

.main-button {
  width: 205px;
  height: 35px;
  margin-top: 14px;
}

.btn-rent {
  margin-right: 27px;
}

.main-button a {
  color: white;
}

.wrap {
  display: flex;
}

#bikeList {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  width: 870px;
}

.bike-content {
  width: 370px;
  height: 420px;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
}

.image-block {
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
  border: 1px solid #cecece;
  display: flex;
  align-items: center;
  float: left;
}

.bike-img {
  width: 100%;
}

.bike-title {
  font-size: 18px;
  line-height: 26px;
}

.bike-text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 20px;
}

.rent {
  position: absolute;
  bottom: 0;
}

.rent-link {
  color: white;
}

.load {
  margin: 0 auto;
  width: 170px;
  margin-bottom: 40px;
}

.pointers__list {
  padding: 0;
  margin-top: 25px;
}

.pointers__list li {
  list-style-type: none;
  position: relative;
  margin-bottom: 15px;
}

.pointers__title {
  font-size: 22px;
  line-height: 30px;

}

.point {
  text-decoration: none;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
}

.active::before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  background: #3C1491;
  left: -17px;
  top: 6px;
}

.footer {
  height: 61px;
  background-color: #3C1491;
  color: #fff;
}

.copyright {
  margin: 20px 0 0;
  line-height: 20px;
  font-size: 14px;
}

.hidden {
  display: none;
}

.login-header, .requisites-header, .registration-header {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  margin-top: 60px;
}

.input {
  width: 370px;
  height: 38px;
}

.come, .register {
  color: #0000FF;
}

.requisites-container {
  width: 430px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 26px;
}

.requisites-header {
  padding-left: 35px;
  color: #333333;
}

.requisites-input {
  margin-top: 5px;
  padding-left: 10px;
  border: 1px solid #ccc;
}

.save {
  width: 130px;
  height: 38px;
}

#link-save {
  color: white;
}

.field {
  margin-bottom: 20px;
  position: relative;
}

#number-hexagon, #date-hexagon, #cvv-hexagon {
  width: max-content;
  height: 50px;
  background: white;
  border: 1px solid #ccc;
  display: none;
  position: absolute;
  left: 395px;
  top: 28px;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 2px #ccc;
}

#number-hexagon:before, #date-hexagon:before, #cvv-hexagon:before {
  content: "";
  position: absolute;
  top: 16px;
  left: -8px;
  transform: rotate(-45deg);
  width: 15px;
  height: 15px;
  background: white;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  box-shadow: -2px -2px 4px #ccc;
}

#number-hexagon.show:before, #date-hexagon.show:before, #cvv-hexagon.show:before {
  display: block;
}

.tip-text {
  margin: 0 auto;
  padding: 0 12px 0 12px;
  align-self: center;
  font-size: 14px;
  line-height: 20px;
  color: #E30000;
}

.login-container {
  width: 375px;
  height: 370px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 26px;
}

.login-header {
  padding-left: 144px;
}

.login-input {
  margin-top: 4px;
  margin-bottom: 20px;
}

.entry {
  width: 100px;
  height: 38px;
}

.registration, .wrong-login-password {
  font-size: 16px;
  line-height: 20px;
}

.wrong-login-password {
  margin-top: -10px;
  color: #E30000;
  margin-bottom: 10px;
}

.registration-container {
  width: 371px;
  height: 443px;
  margin: 0 auto;
}

.registration-header {
  padding-left: 75px;
}

.registration-input {
  margin-top: 5px;
  margin-bottom: 20px;
}

.registration-button {
  width: 210px;
  height: 38px;
  margin-top: 10px;
}

/*личный кабинет*/
.lk-header {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  display: inline-block;
}

.lk-login {
  color: #B0B0B0;
  font-size: 24px;
  padding-left: 30px;
}

.lk-container__bikes {
  width: 770px;
  display: inline-block;
}

.info-block {
  display: flex;
  flex-direction: column;
  width: 437px;
  padding-left: 50px;
}

.bike-name {
  font-size: 24px;
  padding-bottom: 10px;
}

.time, .cost {
  font-size: 16px;
  padding-bottom: 10px;
}

.return {
  width: 107px;
  margin-top: 10px;
}

.ordered-bike {
  height: 300px;
}

.lk-container__card {
  width: 340px;
  height: 215px;
  float: right;
  border: 1px solid #CECECE;
}

.lk-container__card__card-header {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  border-bottom: 1px solid #CECECE;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.lk-container__card__content {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-left: 30px;
  margin-top: 20px;
}

.card-number {
  font-weight: 600;
  margin-bottom: 5px;
}

.card-change {
  width: 130px;
  margin-top: 20px;
}

.lk-bike-img {
  width: 90%;
  margin-left: 10px;
}

.order-info-block{
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  width: 600px;
}
.order-bike-img{
  width: 90%;
  margin-left: 10px;
}

.order-bike-text{
  padding-top: 30px;
  font-size: 18px;
}

.order-bike-code{
  font-size: 48px;
  line-height: 60px;
  padding-top: 15px;
}
