{{> header}}
<div class="requisites-container">
  <h1 class="requisites-header">Реквизиты карты</h1>
  <div class="fields">
    <div class="field">
      <p>Номер карты</p>
      <input class="requisites-input input" id="number" type="text" value="{{cardRequisites.number}}">
      <div id="number-hexagon"><span class="tip-text" id="number-text"></span></div>
    </div>
    <div class="field">
      <p>Срок действия</p>
      <input class="requisites-input input" id="date" type="text" value="{{cardRequisites.date}}">
      <div id="date-hexagon"><span class="tip-text" id="date-text"></span></div>
    </div>
    <div class="field">
      <p>CVV</p>
      <input class="requisites-input input" id="cvv" type="text" value="{{cardRequisites.cvv}}">
      <div id="cvv-hexagon"><span class="tip-text" id="cvv-text"></span></div>
    </div>
  </div>

  <button type="button" class="save button" id="save-button">Сохранить</button>
</div>
{{> footer}}
<script src="/js/api.js"></script>
<script src="/js/card-requisites.js"></script>