{{> header}}

<div>
  <!--
    При помощи шаблонизатора mustache выведи заголовок каталога.
    Если выбран пункт проката, то в переменной pointInfo будет информация о выбранном пункте
    и в таком случае заголоввок должен быть таким <h3>Каталог велосипедов по адресу %адрес пункта%</h3>
    если пункт не выбран, то такой заголовок <h3>Каталог велосипедов</h3>
  -->
  <h3 class="main__title">Каталог велосипедов {{#pointInfo}} по адресу {{address}}{{/pointInfo}} </h3>
  <div class="wrap">
    <div id="bikeList">
      <!-- Здесь необходимо отобразить карточки велосипедов -->
    </div>
    <div class="pointers">
      <div class="pointers__title">Пункты выдачи</div>
      <ul class="pointers__list">
        <!--
          При помощи шаблонизатора mustache выведи пункты проката из массива pointersList
          <li><a href="/catalog/ID пункта">Адрес пункта</a></li>
          А если у пункта есть флаг isActive, то в списке пометить его
          <li class="active"><a href="/catalog/ID пункта">Адрес пункта</a></li>
        -->
        {{#pointersList}}
        <li class="{{#isActive}}active{{/isActive}}"><a href="/catalog/{{_id}}" class="point">{{address}}</a></li>
        {{/pointersList}}
        {{#pointInfo}}
        <li class="notactive"><a href="/catalog/" class="point">Все пункты</a></li>
        {{/pointInfo}}
        {{^pointInfo}}
        <li class="active"><a href="/catalog/" class="point">Все пункты</a></li>
        {{/pointInfo}}
      </ul>
    </div>
  </div>

  <div id="loadMore" class="hidden load">
    <button type="button" class="button">Загрузить ещё</button>
  </div>

</div>
{{> footer}}
<script src="/js/api.js"></script>
<script src="/js/catalog.js"></script>