{{> header}}
<div class="background"><img class="background__img" src="../images/bg.jpg"></div>
<div class="background-shadow"></div>
<div class="container">
  <div class="main-content">
    <div class="main-content__title">
      Сервис аренды <br> велосипедов
    </div>
    <div class="main-content__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum libero ut culpa iste nam<br> dolores iusto quod,
      sapiente obcaecati numquam, officiis in inventore laborum quos<br> dignissimos nobis architecto consequuntur ex!
      lo
    </div>
    <div class="main-content__buttons">
      <button type="button" class="button main-button btn-rent"><a href="/catalog"> Арендовать велосипед</a></button>
      <button type="button" class="button main-button"><a href="/order">Найти пункт выдачи</a></button>
    </div>
  </div>
</div>

{{> footer}}