{{> header}}
<h3 class="lk-header">Личный кабинет</h3>
<span class="lk-login">{{login}}</span>
<div class="lk-container">
  <div class="lk-container__bikes" id="lk-container__bikes">

    {{#orderList}}
    <div class="ordered-bike">
      <div class="image-block">
        <img src="images/{{bike.img}}" class="lk-bike-img">
      </div>
      <div class="info-block">
        <div class="bike-name">{{bike.name}}</div>
        <div class="time">Прошло времени - {{formatTotalTime}}</div>
        <div class="cost">Стоимость - {{totalCost}}₽</div>
        <button type="button" class="button return" data-order-id="{{_id}}">Вернуть</button>
      </div>
    </div>
    {{/orderList}}
    {{^orderList}}
    <p class="no-orders">Нет арендованных велосипедов</p>
    {{/orderList}}
  </div>
  <div class="lk-container__card">
    <div class="lk-container__card__card-header"><span>Реквизиты карты</span></div>
    <div class="lk-container__card__content">
      {{#cardRequisites}}
      <div class="card-number" id="card-number">{{cardRequisites.number}}</div>
      <div class="card-date">{{cardRequisites.date}}</div>
      {{/cardRequisites}}
      {{^cardRequisites}}
      <p class="no-data">Нет данных</p>
      {{/cardRequisites}}
      <button type="button" class="button card-change" id="card-change">Изменить</button>
    </div>

  </div>

</div>
{{> footer}}
<script src="/js/lk.js"></script>