{{>header}}
<div class="login-container">
	<h3 class="login-header">Вход</h3>
	<form method="post">
		<label for="login">Логин</label>
		<input type="text" class="login-input input" id="login" name="login" value="{{ login }}">

		<label for="password">Пароль</label>
		<input type="password" class="login-input input" id="password" name="password">

		{{#isLoginError}}
		<p class="wrong-login-password">
			Неверные логин или пароль
		</p>
		{{/isLoginError}}
		<button type="submit" class="button entry">Войти</button>
		<a href="/registration" class="register">или зарегистрироваться</a>
	</form>
</div>
{{> footer}}