{{> header}}
<h3 class="order-header">Аренда велосипеда</h3>
<div class="order-container__bikes">
  <div class="ordered-bike">
    <div class="image-block">
      <img src="/images/{{bikeInfo.img}}" class="order-bike-img">
    </div>
    <div class="order-info-block">
      <div class="order-bike-name">{{bikeInfo.name}}</div>
      <span class="order-bike-text">Чтобы забрать велосипед введите код</span>
      <div class="order-bike-code">{{orderCode}}</div>
    </div>
  </div>
</div>
{{> footer}}
<script src="/js/api.js"></script>