{{> header}}
<div class="registration-container">
	<h3 class="registration-header">Регистрация</h3>
	<form method="post">
		<label for="login">Логин</label>
		<input type="text" class="input registration-input" id="login" name="login" value="{{ login }}">

		<label for="password1">Пароль</label>
		<input type="password" class="input registration-input" id="password1" name="password1">

		<label for="password2">Повторите пароль</label>
		<input type="password" class="input registration-input" id="password2" name="password2">
		{{#notEqualPasswordsError}}
		<p class="wrong-login-password">
			Пароли не совпадают
		</p>
		{{/notEqualPasswordsError}}
		{{#isEmptyValuesError}}
		<p class="wrong-login-password">
			Заполните все поля
		</p>
		{{/isEmptyValuesError}}
		<button type="submit" class="button registration-button">Зарегистрироваться</button>
		<a href="/login" class="come">или войти</a>
	</form>
</div>
{{> footer}}